<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earnest Fintech</title>

    <style>
        .index{
            height: 50rem;
            width: 50%;
            border: 2px solid #4567;
            margin:3rem auto auto 10rem;
            padding-left: 4rem;
            padding-right: 2rem;
            border-bottom: none;
            
        }

        .index ul{
            line-height: 1.5rem;
        }
        .index ul li{
            line-height: 1.5rem;
            background-color: #4567;
            color: white;
            margin-top: 0.6rem;
            text-align: center;
            
        }

        .index button{
            height: 2rem;
            width: 15rem;
            font-size: 1em;
            border-radius: 5px;
            text-align: center;
            justify-content: center;
            margin-left: 25%;
            background-color: green;
            color: beige;
        }

        .index h3{
            text-align: center;
            font-size: 2rem;
        }
    </style>
</head>
<body>
    <div class="index">
    <h3>All Listings</h3>
    <hr>
    <form method="GET" action="/listings/new">
        <button>Create New Listings</button>Click me</form>
        <hr>
    <ul>
        <% for(let listing of allListings){ %>
            <li><a href="/listings/<%= listing._id %>"> <%= listing.title %></a>  </li>
           <% } %>
        </ul>
    </div>
</body>
</html>
